 .u-section-1 {
  min-height: 632px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 2px auto;
}

.u-section-1 .u-image-1 {
  min-height: 630px;
  background-image: url("images/pexels-photo-3969660.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 630px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Alex Brush";
  font-size: 3rem;
  margin: 0 22px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 25px auto 0;
}

.u-section-1 .u-image-2 {
  min-height: 630px;
  background-image: url("images/pexels-photo-3969657.jpeg");
  background-position: 86.61% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 521px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1592px;
  }

  .u-section-1 .u-image-1 {
    min-height: 795px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 795px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1744px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 831px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 596px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-image-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-2 {
    min-height: 375px;
  }
}